.leaflet-control-layers-toggle {
  background-image: url("../assets/leaflet/layers.png");
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url("../assets/leaflet/layers-2x.png");
}

.leaflet-touch .leaflet-control-layers-toggle {
  background-image: url("../assets/leaflet/layers.png");
}

.leaflet-default-icon-path {
  background-image: url("../assets/leaflet/marker-icon.png");
}
